<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Sign Languages Recognition</h3>
                <div id="content">
                    <img src="{{ url_for('video_feed') }}" width="40%" height="70%">
                    <img src="{{url_for('static', filename='ims2.jpg')}}" align="middle" height="60%" width="20%" style="margin-top: -400px;margin-left: 50px"/>
                </div>
            </div>
        </div>
    </div>
</body>